<% include ./partials/header.ejs %>
    <p class="text-center"><h2>Your Daily Dairy</h2></p>
    <% blogs.forEach(function(blog) { %>
        <div class=" border mt-3 pl-5 pt-3 pb-3">
            <div>
                <h2><%= blog.title %></h2>
            </div>
            <div>
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div>
                <p>
                    <%= blog.body.substring(0,100) %> ...</p>
                <a href="/blogs/<%= blog._id %>" class="btn btn-info ">Read More</a>
            </div>
        </div>
        <% }); %>
 <% include ./partials/footer.ejs %>