<% include ../partials/header.ejs %>
    <div class="text-center m-3">
        <h2>Your Todos</h2>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 border">
        	<input type="text" name="" onchange="funct()" id="skp">
            <br>
            this is the main box
        </div>
        <div class="col-lg-4"></div>
    </div>

<% include ../partials/footer.ejs %>